{include "inc_post_preview.htm"}

<form method="post" enctype="multipart/form-data" action="{target_url}">
<input type="hidden" name="action_type" value="{action_type}" />
<div class="panel panel-default">
	<div class="panel-heading">{title}</div>
	<div class="panel-body">
		<div class="form-group clearfix" role="group">
			<label class="col-sm-3 col-xs-4 control-label no-padding-left no-wrap">{glocale.lang('event_name')}:</label>
			<div class="col-sm-9 no-padding-left no-padding-right">
				{form.get_textbox('topic_name',default:event_title,70)}
			</div>
		</div>
		<div class="form-group clearfix" role="group">
			<label class="col-sm-3 col-xs-4 control-label no-padding-left no-wrap">{glocale.lang('location')}:</label>
			<div class="col-sm-9 no-padding-left no-padding-right">
				{form.get_textbox('location',default:event_location,50,100)}
			</div>
		</div>
		<div class="form-group clearfix" role="group">
			<label class="col-sm-3 col-xs-4 control-label no-padding-left no-wrap">{glocale.lang('begin')}:</label>
			<div class="col-sm-9 no-padding-left no-padding-right">
				{form.get_date_chooser('b_',default:event_begin)}
			</div>
		</div>
		<div class="form-group clearfix" role="group">
			<label class="col-sm-3 col-xs-4 control-label no-padding-left no-wrap">{glocale.lang('end')}:</label>
			<div class="col-sm-9 no-padding-left no-padding-right">
				{form.get_date_chooser('e_',default:event_end)}
				{glocale.lang('or')}
				<input id="openend" type="checkbox" name="open_end" {open_end} value="1" />
				<label for="openend">{glocale.lang('openend')}</label>
			</div>
		</div>
		<div class="form-group clearfix" role="group">
			<label class="col-sm-3 col-xs-4 control-label no-padding-left no-wrap">{glocale.lang('announcements')}:</label>
			<div class="col-sm-9 no-padding-left no-padding-right">
				<ul class="list-unstyled">
					<li>
						{form.get_radio_yesno('enable_announcements',enable_announcements)}
						| {glocale.lang('maximal')}:
						{form.get_textbox('max_announcements',max_announcements,4,5)}
						(0 = {glocale.lang('unlimited')})
					</li>
					<li>
						<u>{glocale.lang('application_deadline')}:</u>
						<ul class="list-unstyled">
							<li>
								<input type="radio" name="timeout_type" value="begin" {timeout_type_begin} id="cab" />
								<label for="cab">{glocale.lang('event_begin')}</label>
							</li>
							<li>
								<input type="radio" name="timeout_type" value="custom" {timeout_type_self} id="cas" />
								<label for="cas">{glocale.lang('custom')}</label>:
								{form.get_date_chooser('c_',default:timeout)}
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		
		{include "inc_post_form.htm"}
	</div>
</div>
<center>
	<input type="button" value="{glocale.lang('back')}" onclick="document.location.href='{back_url}'" />
	<input type="submit" name="preview" value="{glocale.lang('preview')}" />
	<input type="submit" name="submit" value="{glocale.lang('submit')}" />
</center>
</form>
