{if show_deactivated_notice}
	<div class="bs_body" style="font-size: 13px; color: #FF0000;">{glocale.lang('board_is_disabled_admin_hint')}</div>
{endif}

{if gisloggedin == false}
	<form method="post" action="{login_url}">
		<input type="hidden" name="login" value="1" />
		<input type="hidden" name="action_type" value="{action_type}" />
{endif}

<div class="">
	<div>
		<div class="bs_headline" onclick="document.location.href = '{headline_url}';"></div>
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">htwdd|org</a>
				</div>
				
				<div class="collapse navbar-collapse" id="main-nav">
					<ul class="nav navbar-nav">
						{loop top_links as id => link}
							<li>
								<a href="{link:url}">{link:text}</a>
							</li>
						{endloop}
					</ul>
					
					<ul class="nav navbar-nav navbar-right hidden-xs">
						{if enable_portal}
							<li>
								<a href="{gurl.build_portal_url()}" title="{unread_news_title}" class="clearfix">
									<i class="fa fa-home fa-1-6x">
										{if unread_news_count > 0}
											<span style="float: right;" class="badge user-headline-notification-badge">{unread_news_count}</span>
										{endif}
									</i>
								</a>
							</li>
						{endif}
						
						{if gisloggedin}
							<li>
								<a href="{gurl.simple_url('userprofile','&amp;$URL_SUB=pmoverview')}">
									<i class="fa fa-envelope fa-1-6x headline-icon">
										{if unread_pm_count > 0}
											<span class="badge user-headline-notification-badge">{unread_pm_count}</span>
										{endif}
									</i>
								</a>
							</li>
						{endif}
						
						<li class="dropdown">
							{if gisloggedin}
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
									{if notification_count > 0}
										<span class="badge user-notification-badge">{notification_count}</span>
									{endif}
									{gusername_plain}
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu nav-user-element">
									<li class="text-center top10">
										<a href="{guser_url}" class="clearfix">
											{if guser_avatar == glocale.lang('nopictureavailable')}
												{gusername_plain}
											{else}
												<img src="{guser_avatar}" class="img-circle" />
											{endif}
										</a>
									</li>
									<li>
										<a href="{gurl.simple_url('userprofile','&amp;$URL_SUB=config')}" class="clearfix">
											<span style="float: left;">
												<i class="fa fa-cogs"></i>
												{glocale.lang('profileconfig')}
											</span>
										</a>
									</li>
									<li>
										<a href="{gurl.simple_url('userprofile','&amp;$URL_SUB=pmoverview')}" class="clearfix">
											<span style="float: left;">
												<i class="fa fa-envelope"></i>
												{glocale.lang('pm_long')}
											</span>
											{if unread_pm_count > 0}
												<span style="float: right;" class="badge user-notification-badge">{unread_pm_count}</span>
											{else}
												0
											{endif}
										</a>
									</li>
									{if enable_portal}
										<li>
											<a href="{gurl.build_portal_url()}" title="{unread_news_title}" class="clearfix">
												<span style"=float: left;">
													<i class="fa fa-home"></i>
													{glocale.lang('portal')}
												</span>
												{if unread_news_count > 0}
													<span style="float: right;" class="badge user-notification-badge">{unread_news_count}</span>
												{endif}
											</a>
										</li>
									{endif}
									<li>
										<a title="{unread_topics_title}" href="{gurl.simple_url('unread')}" class="clearfix">
											<span style="float: left;">
												<i class="fa fa-bell"></i>
												{glocale.lang('unread_threads')}
											</span>
											{if unread_topic_count > 0}
												<span style="float: right;" class="badge user-notification-badge">{unread_topic_count}</span>	
											{endif}
										</a>
									</li>
									<li>
										<a href="{gurl.simple_url(-1,'&amp;$URL_AT=$ACTION_LOGOUT','&amp;',true)}" class="clearfix">
											<span style="float: left;">
												<i class="fa fa-sign-out"></i>
												{glocale.lang('logout')}
											</span>
										</a>
									</li>
								</ul>
							{else}
								{if gisloggedin == false}
									<li>
										<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{glocale.lang('login')}</a>
										<div class="dropdown-menu">
											<div class="col-sm-12 nav-login-form">
												<form method="post" action="{target_url}">
													<input type="hidden" name="action_type" value="{action_type}" />
													<input type="hidden" name="login" value="1" />
													<div class="form-group">
														<input type="text" name="user_login" class="form-control" maxlength="100" />
													</div>

													<div class="form-group">
														<input type="password" name="pw_login" class="form-control" maxlength="100" />
													</div>

													<div class="form-group">
														<button type="submit" class="btn btn-block btn-default">Sign in</button>
													</div>
												</form>
											</div>
										</div>
									</li>
								{endif}
							{endif}
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
</div>
{if gisloggedin == false}
	</form>
{endif}

<div class="breadcrumb">
	<b>{glocale.lang('position')}:</b> {location}
</div>
