{if forums}
	<div class="row">
		<div class="col-lg-8 col-sm-8 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">{title}</div>
				<div class="panel-body">
					<table class="table forum">
						<thead>
							<th>{glocale.lang('name')}</th>
							<th class="cell-stat text-center hidden-xs hidden-sm">
								{glocale.lang('threads')}
							</th>
							<th class="cell-stat text-center hidden-xs hidden-sm">
								{glocale.lang('posts')}
							</th>
							<th class="cell-stat-2x text-center hidden-xs hidden-sm">
								{glocale.lang('lastpost')}
							</th>
						</thead>
					</table>
						<tbody>
							{if num == 0}
								<tr>
									<td colspan="5" class="center">
										{glocale.lang('no_news_found')}
									</td>
								</tr>
							{endif}
							{loop forums as forum}
								{if forum:close_clap_forum}
									</div>
								{endif}
								
								{if forum:contains_forums}
									<table class="table forum nomargin">
										<tr class="forums-name">
											<td class="text-left">
												{if forum:clap_forum}
													<i class="fa fa-plus-square-o float-left collapse-forum" data-id="{forum:forum_id}"></i>
													<h4>
												{else}
													<h4 class="no-margin-left">
												{endif}
													<a href="{forum:forum_url}">
														{forum:forum_name_ins}
													</a>
												</h4>
											</td>
											<td class="vertical-center">{forum:thread_count}</td>
											<td class="text-center hidden-xs hidden-sm vertical-center">{forum:post_count}</td>
											<td class="text-center hidden-xs hiddem-sm vertical-center">
												<a title="{forum:lastpost:topic_complete}" href="{forum:lastpost:topic_url}">{forum:lastpost:topic}</a>
											</td>
										</tr>
									</table>
									{if forum:clap_forum}
										<div id="subforum_{forum:forum_id}" class="show-tr col-lg-12 col-sm-12 col-xs-12">
									{endif}
								{else}
									<table class="table forum nomargin">
										<tr>
											{loop forum:path_images as pimage}
												<td class="cell-mini-stat">&nbsp;</td>
											{endloop}
											<td>
												<a href="{forum:forum_url}">{forum:forum_name_ins}</a>
												<small class="text-muted">
													{forum:beschr_ins}<br />
													{if enable_moderators}
														<b>{glocale.lang('moderators')}:</b> {forum:mods_ins}<br />
													{endif}
													{if forum:sub_forums}
														<b>{glocale.lang('subdirs')}:</b> {forum:sub_forums}
													{endif}
												</small>
											</td>
											<td class="cell-stat text-center hidden-xs hidden-sm vertical-center">{forum:thread_count}</td>
											<td class="cell-stat text-center hidden-xs hidden-sm vertical-center">{forum:post_count}</td>
											<td class="cell-stat-2x text-left hidden-xs hidden-sm vertical-center">
											{if forum:lastpost == false}
												-
											{else}
												{forum:lastpost:date}<br />
												{glocale.lang('From')}: {forum:lastpost:username}<br />
												{glocale.lang('totopic')}:
												<a title="{glocale.lang('gotolastpost')}" href="{forum:lastpost:lastpost_url}">
													<img src="{guser.get_theme_item_path('images/lastpost.gif')}" alt="{glocale.lang('gotolastpost')}" style="vertical-align: middle;" />
												</a>
												<a title="{forum:lastpost:topic_complete}" href="{forum:lastpost:topic_url}">{forum:lastpost:topic}</a>
											{endif}
											</td>
										</tr>
									</table>
								{endif}
							{endloop}
							{if clap_forum_bottom}
								</div>
							{endif}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<div class="col-lg-4 col-sm-4 hidden-xs">
			{if gisadmin}
				<div class="panel panel-default">
					<div class="panel-heading">Admin Options</div>
					<div class="panel-body">
					
					</div>
				</div>
			{endif}
		</div>
	</div>

	<script type="text/javascript" language="Javascript">
	<!--
	var global_cookie = '{forum_cookie}';
	//-->
	</script>
{endif}