{include "inc_header.htm"}

{if action_result < 1}
	{if module_error == false}
		<script type="text/javascript">
			<!--
			function toggleForumList(id)
			{
				var d = document.getElementById(id);
				d.style.display = d.style.display == 'none' ? 'block' : 'none';
			}
			//-->
		</script>

		<div class="col-lg-12 col-sm-12 col-xs-12 no-padding-left no-padding-right">
			<div class="panel panel-default">
				<div class="panel-heading">{glocale.lang('the_team')}</div>
				<div class="panel-body">
					<h3>{glocale.lang('administrators')}</h3>
					<table class="table table-stripped">
						<thead>
							{if guserenablepm}
								<th class="text-left cell-stat-3x">{glocale.lang('username')}</th>
								<th>{glocale.lang('mod_forums')}</th>
								<th class="cell-stat">{glocale.lang('pm')}</th>
							{else}
								<th class="text-left cell-stat-3x">{glocale.lang('username')}</th>
								<th>{glocale.lang('mod_forums')}</th>
							{endif}
						</thead>
						<tbody>
							{loop admins as admin}
								<tr>
									<td>{admin:user_name}</td>
									<td>
										{if admin:forum_count > 0}
											<a href="javascript:toggleForumList('forum_list_{admin:id}');">
													{glocale.lang('mod_forums')} ({admin:forum_count})
											</a><br />
											<div id="forum_list_{admin:id}">
												{admin:forum_list}
											</div>
										{else}
											-
										{endif}
									</td>
									{if guserenablepm}
										<td class="text-center">
											{if show_pm}
												<a class="btn btn-default" href="{admin:pm_url}">
													{glocale.lang('pm_short')}
												</a>
											{else}
												{glocale.lang('notavailable')}
											{endif}
										</td>
									{endif}
								</tr>
							{endloop}
						</tbody>
					</table>

					{if mods}
						<h3>{glocale.lang('moderators')}</h3>
						<table class="table table-stripped">
							<thead>
								<tr>
									{if guserenablepm}
										<th class="text-left cell-stat-3x">
											{glocale.lang('username')}</th>
										<th>
											{glocale.lang('mod_forums')}
										</th>
										<th class="cell-stat">
											{glocale.lang('pm')}
										</th>
									{else}
										<th class="text-left cell-stat-3x">
											{glocale.lang('username')}
										</th>
										<th>
											{glocale.lang('mod_forums')}
										</th>
									{endif}
								</tr>
							</thead>
							{loop mods as mod}
							<tr>
								<td>
									{mod:user_name}
								</td>
								<td>
									{if mod:forum_count > 0}
										<a href="javascript:toggleForumList('forum_list_{mod:id}');">
											{glocale.lang('mod_forums')} ({mod:forum_count})
										</a><br />
										<div id="forum_list_{mod:id}" style="padding: 2px 0px 0px 10px; display: none;">
											{mod:forum_list}
										</div>
									{else}
										-
									{endif}
								</td>
								{if guserenablepm}
									<td class="text-center">
										{if show_pm}
											<a class="btn btn-default" href="{mod:pm_url}">
												{glocale.lang('pm_short')}
											</a>
										{else}
											{glocale.lang('notavailable')}
										{endif}
									</td>
								{endif}
							</tr>
							{endloop}
						</table>
					{endif}

					{loop other as name => users}
						<h3>{name}</h3>
						<table class="table table-stripped">
							<thead>
								<tr>
									{if guserenablepm}
										<th class="text-left cell-stat-2x">
											{glocale.lang('username')}
										</th>
										<th>
												{glocale.lang('mod_forums')}
										</th>
										<th class="cell-stat">
											{glocale.lang('pm')}
										</th>
									{else}
										<th class="text-left">
											{glocale.lang('username')}
										</th>
										<th>
											{glocale.lang('mod_forums')}
										</th>
									{endif}
								</tr>
							</thead>
							<tbody>
								{loop users as user}
									<tr>
										<td>
											{user:user_name}
										</td>
										<td>
											-
										</td>
										{if guserenablepm}
											<td class="text-center">
												{if show_pm}
													<a class="btn btn-default" href="{user:pm_url}">
														{glocale.lang('pm_short')}
													</a>
												{else}
													{glocale.lang('notavailable')}
												{endif}
											</td>
										{endif}
									</tr>
								{endloop}
							</tbody>
						</table>
					{endloop}
				</div>
			</div>
		</div>
	{endif}
{endif}

{include "inc_footer.htm"}
