{include "inc_header.htm"}

{if action_result < 1}
	{if module_error == false}
		<div class="col-lg-2 col-sm-4 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">{glocale.lang('options')}</div>
				<div class="panel-body">
					<ul class="nav">
						<li class="nav-desc">{glocale.lang('profile')}</li>
						<li>
							<a href="{gurl.simple_url(0,'&amp;$URL_SUB=infos')}">{glocale.lang('personal_info')}</a>
						</li>
						{if enable_signatures == 1}
							<li>
								<a href="{gurl.simple_url(0,'&amp;$URL_SUB=signature')}">{glocale.lang('signature')}</a>
							</li>
						{endif}
						<li>
							<a href="{gurl.simple_url(0,'&amp;$URL_SUB=config')}">{glocale.lang('profileconfig')}</a>
						</li>
						{if enable_avatars == 1}
							<li>
								<a href="{gurl.simple_url(0,'&amp;$URL_SUB=avatars')}">{glocale.lang('avatars')}</a>
							</li>
						{endif}
						{if allow_pw_change}
							<li>
								<a href="{gurl.simple_url(0,'&amp;$URL_SUB=chpw')}">{user_pw_change_title}</a>
							</li>
						{endif}
						<li>
							<a href="{gurl.simple_url(0,'&amp;$URL_SUB=favforums')}">{glocale.lang('favorite_forums')}</a>
						</li>
						{if enable_email_notification == 1}
							<li class="nav-desc">{glocale.lang('subscriptions')}</li>
						{endif}
						{if subscribe_forums_perm}
							<li>
								<a href="{gurl.simple_url(0,'&amp;$URL_SUB=forums')}">{glocale.lang('forums')}</a>
							</li>
						{endif}
						{if enable_email_notification == 1}
							<li>
								<a href="{gurl.simple_url(0,'&amp;$URL_SUB=topics')}">{glocale.lang('threads')}</a>
							</li>
						{endif}
						{if guserenablepm}
							<li class="nav-desc">{glocale.lang('privatemessages')}</li>
							<li>
								<a href="{gurl.simple_url(0,'&amp;$URL_SUB=pmoverview')}">{glocale.lang('overview')}</a>
							</li>
							<li>
								<a href="{gurl.simple_url(0,'&amp;$URL_SUB=pminbox')}">{glocale.lang('pminbox')}</a>
							</li>
							<li>
								<a href="{gurl.simple_url(0,'&amp;$URL_SUB=pmoutbox')}">{glocale.lang('pmoutbox')}</a>
							</li>
							<li>
								<a href="{gurl.simple_url(0,'&amp;$URL_SUB=pmbanlist')}">{glocale.lang('banlist')}</a>
							</li>
							<li>
								<a href="{gurl.simple_url(0,'&amp;$URL_SUB=pmsearch')}">{glocale.lang('pm_search')}</a>
							</li>
							<li>
								<a href="{gurl.simple_url(0,'&amp;$URL_SUB=pmcompose')}">{glocale.lang('newpm')}</a>
							</li>
							<li>
								<table class="table">
									<tr>
										<td>
											{glocale.lang('pminbox')}:
											({inbox_num} / {if max_inbox == 0}<span title="{glocale.lang('unlimited')}">&infin;</span>{else}{max_inbox}{endif})
										</td>
									</tr>
									<tr>
										<td>
											<div class="progress">
												<div class="progress-bar" role="progressbar" aria-value="{inbox_num_int}" aria-valuemin="0" aria-valuemax="{inbox_num_acp}" data-percent="{inbox_num_pro}%" style="width: 0px;">
													{inbox_num_pro}%
												</div>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											{glocale.lang('pmoutbox')}:
											({outbox_num} / {if max_outbox == 0}<span title="{glocale.lang('unlimited')}">&infin;</span>{else}{max_outbox}{endif})
										</td>
									</tr>
									<tr>
										<td>
											<div class="progress">
												<div class="progress-bar" role="progressbar" aria-value="{outbox_num_int}" aria-valuemin="0" aria-valuemax="{outbox_num_acp}" data-percent="{outbox_num_pro}%" style="width: 0px;">
													{outbox_num_pro}%
												</div>
											</div>
										</td>
									</tr>
								</table>
							</li>
						{endif}
					</ul>
				</div>
			</div>
		</div>
		
		<div class="col-lg-10 col-sm-8 col-xs-12">
			{include content_tpl}
		</div>
	{endif}
{endif}

{include "inc_footer.htm"}